header {
    background-color: navy;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    border-radius: 50%;
}

section {
    margin: 20px auto;
    max-width: 600px;
}

h2 {
    color: navy;
    border-bottom: 2px solid navy;
    padding-bottom: 5px;
}

p {
    line-height: 1.6;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#fun-fact {
    background-color: #f9f9f9;
    padding: 20px;
}

#infoForm {
    margin-bottom: 20px;
}

#infoForm label {
    font-weight: bold;
}

#infoForm input[type="text"],
#infoForm input[type="number"],
#infoForm input[type="text"],
#infoForm input[type="submit"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#infoForm input[type="submit"] {
    background-color: navy;
    color: white;
    border: none;
    cursor: pointer;
}

#inforForm input[type="submit"]:hover {
    background-color: navy;
}

/* Submitted information styles */
#submittedInfo {
    display: none; /* Initially hide the submitted information */
}

#submittedInfo.visible {
    display: block; /* Show the submitted information when it's available */
}

#submittedInfo h2 {
    margin-top: 20px;
    font-size: 1.2em;
}

#submittedInfo p {
    margin-bottom: 10px;
}
